//colors
$White: rgb(255, 255, 255);
$White-translucid-004: rgba(255, 255, 255, 0.04);
$White-translucid-1:rgba(255, 255, 255, 0.1);
$Gray-very-light: rgb(230, 230, 230);
$Gray-opaque: rgb(187, 187, 187);
$Gray-little-opaque: rgb(151, 151, 151);
$Gray: rgb(125, 125, 125);
$Gray-dark: rgb(56, 59, 75);
$Purple-light: rgb(208, 214, 249);
$Blue-very-dark: rgb(11, 13, 23);
