@import "colors";
%fontStyles {
  font-family: "Barlow-Condensed";
  font-size: 1rem;
  color: $Purple-light;
  text-align: center;
  letter-spacing: 2.7px;
  @media (min-width: 768px) {
    font-size: 1.3rem;
    letter-spacing: 3.38px;
  }
}
.home-container {
  background-image: url("../img/home/background-home-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  .main-home {
    .wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 16px;
      @media (min-width: 1024px) {
        width: 40%;
        margin-top: 7%;
      }
      &:nth-child(1) {
        .main-title-group {
          span {
            @extend %fontStyles;
            display: block;
            @media (min-width: 768px) {
              font-size: 1.25rem;
            }
          }
          h1 {
            font-family: "Bellefair";
            font-size: 3.5rem;
            color: $White;
            margin: 15% 0 0;
            text-align: center;
            @media (min-width: 768px) {
              font-size: 9.375rem;
              margin: 5% 0 0;
            }
          }
          @media (min-width: 768px) {
            margin-top: 8%;
          }
        }
        .main-description {
          @extend %fontStyles;
          line-height: 1.5rem;
          letter-spacing: normal;
          width: 94%;
          @media (min-width: 768px) {
            width: 60%;
          }
          @media (min-width: 1024px) {
            width: 80%;
            text-align: left;
            font-size: 1.5rem;
            line-height: 2rem;
          }
        }
        @media (min-width: 1024px) {
          margin-left: 6%;
        }
      }
      &:nth-child(2) {
        .explore {
          border: none;
          background-color: $White;
          border-radius: 50%;
          border: none;
          height: 150px;
          width: 150px;
          margin: 5% 0;
          overflow: hidden;
          cursor: pointer;
          transition: all 0.3s ease-in-out;
          &:hover {
            outline: 30px solid $White-translucid-1;
          }
          a {
            font-family: "Bellefair";
            font-size: 2rem;
            text-decoration: none;
            color: $Blue-very-dark;
            display: block;
            height: 100%;
            width: 100%;
            line-height: 150px;
            @media (min-width: 768px) {
              line-height: 242px;
            }
          }
          @media (min-width: 768px) {
            height: 242px;
            width: 242px;
          }
        }
      }
    }
    @media (min-width: 1024px) {
      display: flex;
      align-items: end;
      justify-content: space-between;
      width: 100%;
      margin: auto;
    }
  }
  @media (min-width: 768px) {
    background-image: url("../img/home/background-home-tablet.jpg");
  }
  @media (min-width: 1024px) {
    background-image: url("../img/home/background-home-desktop.jpg");
  }
}
